<mat-toolbar color="white">
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <div class="header">
    <span>Legacy Life Plans</span>
  
  <button mat-icon-button class="example-icon favorite-icon">
    <mat-icon>home</mat-icon>Home
  </button>

  <button mat-icon-button class="example-icon">
    <mat-icon>people</mat-icon>Trustess
  </button>

  <button mat-icon-button class="example-icon">
    <mat-icon>person</mat-icon>Professionals
  </button>

  <button mat-icon-button class="example-icon">
    <mat-icon>more_horiz</mat-icon>More
  </button>
 
  </div>
  <span class="example-spacer"></span>
 
  <div class="header spaceheader">
    <mat-icon class="searchicon">search</mat-icon>
    <div class="invite">
      <button mat-raised-button color="warn"><mat-icon>email</mat-icon> Invite</button> 
    </div>
    <div mat-card-avatar class="example-header-image"></div>
  </div>

</mat-toolbar>


<app-profile></app-profile>
